<div class="row no-gutters">
    <div class="col-3 ">
        <div>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of allBoxes" (click)="showData(item)">{{item}}</li>
            </ul>
        </div>
    </div>
    <div class="col-9" *ngIf="showEmailList">
        <div>
            <div class="list-group" *ngIf="dataobj">
                <div class="list-group-item" style="background:#EFEFEF"
                    *ngFor="let item of dataobj | paginate: { itemsPerPage: 5, currentPage: p }"
                    (click)="openEmail(item)">
                    <div class="row" >
                            <div class="col-1" *ngIf="!item.isRead" [ngStyle]="getStyle(item)">
                                (Unread)
                            </div>
                        <div class="col-2">
                            {{item.from || item[0].from}}
                        </div>
                        <div class="col-9" style="float: right">
                            <span>{{item.subject || item[0].subject}}</span>
                            <span>-
                                {{item.body || item[0].body}}
                            </span>
                        </div>
                    </div>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                <button type="button" class="btn btn-primary" (click)="composeMail()">Compose Mail</button>
                <!-- <div *ngIf="showComposeBox" style="position:absolute; top:168px; width: 70%; right:150px">
                    <div style="background: black; color: white" (click)="test()">
                        <span>New Message</span>
                        <span style="float: right">X</span>
                    </div>
                    <div>
                            <input type="text" class="form-control" placeholder="Recipents" [(ngModel)]="recipents" (keydown)="onKeydown($event)"> 
                            <input type="text" class="form-control" placeholer= "Subject">
                    </div>
                </div> -->
            </div>
            <div class="list-group" *ngIf="!dataobj">
                No emails to show
            </div>
        </div>
    </div>
    <div class="col-9" *ngIf="!showEmailList">
        <app-mailtemplate></app-mailtemplate>
    </div>

</div>